<% include ./partials/header.ejs %>

    <div class="ui">
      <% if(tickets){ %>
      <table class="ui celled table">
          <thead>
            <th>#</th>
            <th>Ticket ID</th>
            <th>Ticket Status</th>
            <th>Closed Date</th>
            <th>Requester's Name</th>
            <th>Requester's E-Mail</th>
            <th>Current Survey Status</th>
          </tr>
        </thead>
        <tbody>
      <% var i = 1; %>
      <% tickets.forEach(function(ticket){ %>
        <tr class="clickable" onclick="window.open('https://vizexplorersupport.zendesk.com/agent/tickets/<%= ticket.ticketID %>')">
          <td><%= i %></td>
          <td><%= ticket.id %></td>
          <td><%= ticket.status %></td>
          <td><%= ticket.closed %></td>
          <td><%= ticket.user %></td>
          <td><%= ticket.email %></td>
          <td><%= ticket.survey %></td>
        </tr>
        <% i++; %>
      <% }) %>
      </tbody>
    </table>
    </div>
    <form method="POST" action="/update">
      <input class="bye" type="text" name="id_numbers" value="<%= ids %>">
      <button type="submit" class="fluid ui inverted primary button">Update Surveys To "Yes"</button>
    </form>
    <% } else { %>
      <h1 class="ui center aligned huge header">Sorry, Nothing was found</h1>
    <% } %>
<% include ./partials/footer.ejs %>
